#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [4]:
df_users_statsDatabase = pd.read_sql_query('SELECT * FROM stats.users', engine)

In [5]:
df_users_statsDatabase.head(3)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 5. Rename Id column to userId

In [6]:
df_users_statsDatabase = df_users_statsDatabase.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [7]:
df_posts_statsDatabase = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
df_posts_statsDatabase = df_posts_statsDatabase.rename(columns={'Id':'postId','OwnerUserId':'userId'})
df_posts_statsDatabase.head(3)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [9]:
users = df_users_statsDatabase[['userId','Reputation','Views','UpVotes','DownVotes']]
posts = df_posts_statsDatabase[['postId','Score','userId','ViewCount','CommentCount']]
users.head(3)
posts.head(3)

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
df_users_posts = pd.merge(users, posts, on='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
null_columns = df_users_posts.isnull().sum()
print(null_columns[null_columns > 0])

ViewCount    48396
dtype: int64

In [12]:
temp_df = df_users_posts.loc[(df_users_posts['ViewCount'] > 0),'ViewCount']
print(len(temp_df))
temp_df.head(10)

42188

211    29229.0
219     1990.0
221    29261.0
233    64481.0
238     1005.0
248      725.0
265     2762.0
270      493.0
271      455.0
273      351.0
Name: ViewCount, dtype: float64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [13]:
#After checking the number of missing values in proportion to the total lenght of the dataset (1/2),
# I decided to fill the missing values with a 0.0 value.
df_users_posts['ViewCount'] = df_users_posts['ViewCount'].fillna(0.0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [14]:
#Checking the dtype of df_users_posts
df_users_posts.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [16]:
stats = df_users_posts.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [17]:
stats_bounds = stats
stats_bounds['lowBound'] = stats['25%'] - (stats['IQR']*1.5)
stats_bounds['highBound'] = stats['25%'] + (stats['IQR']*1.5)

In [27]:
stats_bounds

,count,mean,std,min,25%,50%,75%,max,IQR,lowBound,highBound
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00,-32957.500,39831.500
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00,-6540.000,6660.000
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25,-758.875,768.875
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00,-422.000,424.000
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00,-12.000,12.000
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50,-64088.500,116192.000
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00,-2.000,4.000
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00,-166.500,166.500
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00,-4.500,4.500

In [66]:
pd.concat([df_users_posts.loc[(df_users_posts['Reputation'] < stats_bounds['lowBound'].loc[['Reputation']].values[0])],
df_users_posts.loc[(df_users_posts['Reputation'] > stats_bounds['highBound'].loc[['Reputation']].values[0])]],axis=0)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
212,5,6792,1145,662,5,12,20,0.0,1
213,5,6792,1145,662,5,32,12,0.0,0
214,5,6792,1145,662,5,49,6,0.0,0
215,5,6792,1145,662,5,64,6,0.0,0
216,5,6792,1145,662,5,76,22,0.0,3
217,5,6792,1145,662,5,83,2,0.0,0
218,5,6792,1145,662,5,96,4,0.0,0
219,5,6792,1145,662,5,103,28,1990.0,6
220,5,6792,1145,662,5,108,14,0.0,1
221,5,6792,1145,662,5,125,75,29261.0,2
222,5,6792,1145,662,5,126,26,0.0,4
223,5,6792,1145,662,5,131,23,0.0,0
224,5,6792,1145,662,5,139,21,0.0,2
225,5,6792,1145,662,5,197,9,0.0,1
226,5,6792,1145,662,5,199,4,0.0,0
227,5,6792,1145,662,5,217,6,0.0,4
228,5,6792,1145,662,5,299,8,0.0,0
229,5,6792,1145,662,5,306,8,0.0,2
230,5,6792,1145,662,5,314,11,0.0,1
231,5,6792,1145,662,5,329,11,0.0,0
232,5,6792,1145,662,5,398,14,0.0,1
233,5,6792,1145,662,5,423,156,64481.0,7
234,5,6792,1145,662,5,433,40,0.0,0
235,5,6792,1145,662,5,504,4,0.0,0
236,5,6792,1145,662,5,550,11,0.0,0
237,5,6792,1145,662,5,560,9,0.0,2
238,5,6792,1145,662,5,562,10,1005.0,1
239,5,6792,1145,662,5,569,3,0.0,0
240,5,6792,1145,662,5,593,3,0.0,1
...,...,...,...,...,...,...,...,...,...
74692,32036,7227,991,2664,143,108081,7,0.0,0
74693,32036,7227,991,2664,143,108768,0,0.0,3
74694,32036,7227,991,2664,143,108774,0,0.0,4
74695,32036,7227,991,2664,143,108792,0,0.0,0
74696,32036,7227,991,2664,143,108986,3,0.0,2
74697,32036,7227,991,2664,143,109000,3,0.0,1
74698,32036,7227,991,2664,143,109102,0,0.0,0
74699,32036,7227,991,2664,143,109112,14,0.0,2
74700,32036,7227,991,2664,143,109115,0,0.0,0
74701,32036,7227,991,2664,143,109151,0,0.0,0
74702,32036,7227,991,2664,143,109267,2,0.0,1
74703,32036,7227,991,2664,143,109293,2,0.0,6
74704,32036,7227,991,2664,143,109723,1,0.0,0
74705,32036,7227,991,2664,143,109734,4,0.0,0
74706,32036,7227,991,2664,143,109772,0,0.0,0
74707,32036,7227,991,2664,143,110176,1,0.0,0
74708,32036,7227,991,2664,143,110187,0,0.0,1
74709,32036,7227,991,2664,143,110319,0,0.0,0
74710,32036,7227,991,2664,143,110343,2,0.0,1
74711,32036,7227,991,2664,143,110360,0,0.0,1
74712,32036,7227,991,2664,143,110835,3,0.0,0
74713,32036,7227,991,2664,143,111261,4,0.0,0
74714,32036,7227,991,2664,143,111770,1,0.0,3
74715,32036,7227,991,2664,143,111777,0,0.0,1
74716,32036,7227,991,2664,143,111806,1,0.0,6
74717,32036,7227,991,2664,143,111822,3,0.0,2
74718,32036,7227,991,2664,143,113074,1,0.0,0
74719,32036,7227,991,2664,143,113379,2,0.0,0
74720,32036,7227,991,2664,143,113527,2,0.0,7
74721,32036,7227,991,2664,143,114107,0,0.0,5

In [67]:
# we search outliers in columns different to userId and postId
outliers = pd.DataFrame()
for i in df_users_posts.columns:
    data_out = pd.concat([df_users_posts.loc[(df_users_posts[i] < stats_bounds['lowBound'].loc[[i]].values[0])],df_users_posts.loc[(df_users_posts[i] > stats_bounds['highBound'].loc[[i]].values[0])]],axis=0)
    outliers = pd.concat([data_out,outliers],axis=0)

userId
Reputation
Views
UpVotes
DownVotes
postId
Score
ViewCount
CommentCount

In [70]:
before = len(outliers)
outliers = outliers.drop_duplicates()
after = len(outliers)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  72336

In [71]:
outliers

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
219,5,6792,1145,662,5,103,28,1990.0,6
233,5,6792,1145,662,5,423,156,64481.0,7
247,5,6792,1145,662,5,827,13,0.0,6
275,5,6792,1145,662,5,1912,3,286.0,7
298,5,6792,1145,662,5,3055,1,0.0,6
302,5,6792,1145,662,5,3239,15,0.0,5
305,5,6792,1145,662,5,3424,7,0.0,5
306,5,6792,1145,662,5,3461,7,0.0,5
323,5,6792,1145,662,5,6235,12,0.0,6
332,6,457,114,47,0,6578,1,0.0,5
344,8,6764,1089,604,25,36,41,67396.0,7
354,8,6764,1089,604,25,262,13,0.0,7
356,8,6764,1089,604,25,301,6,0.0,7
368,8,6764,1089,604,25,981,6,0.0,11
372,8,6764,1089,604,25,1173,13,1765.0,5
378,8,6764,1089,604,25,1291,11,0.0,5
396,8,6764,1089,604,25,1816,7,0.0,5
417,8,6764,1089,604,25,3405,14,0.0,6
418,8,6764,1089,604,25,3453,2,0.0,9
426,8,6764,1089,604,25,4176,3,0.0,9
428,8,6764,1089,604,25,4309,6,0.0,5
429,8,6764,1089,604,25,4311,7,0.0,6
430,8,6764,1089,604,25,4338,3,0.0,8
447,8,6764,1089,604,25,11981,1,0.0,14
455,8,6764,1089,604,25,12624,1,0.0,6
458,8,6764,1089,604,25,15754,0,0.0,6
467,11,136,10,10,0,1194,29,5877.0,17
472,13,817,178,44,1,86,8,0.0,5
487,22,591,90,693,6,73,24,5717.0,5
...,...,...,...,...,...,...,...,...,...
90550,55667,1,0,0,0,115218,0,6.0,0
90551,55668,1,0,0,0,115215,0,11.0,0
90552,55672,1,0,0,0,115223,0,11.0,0
90553,55673,114,1,0,0,115227,2,60.0,4
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90560,55687,6,0,0,0,115264,1,35.0,0
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,0.0,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2